@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Pager pager = new Pager();
    int pageNo = 0;
    var test = ViewBag.Pager;
    if (test != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@Html.Partial("~/Views/Header/Header.cshtml")
<div class="container">
    <form method="get">
    <div class="row">
        @Html.Partial("Menu")
        <div class="col-12  col-md-9">
            <div class="product">
                <div class="row">
                    <div class="ProductBlock">
                        @Html.Partial("Product")
                    </div>
                    
                </div>
                <div class="row">

                </div>
            </div>
        </div>
        <div class="col-md-6 offset-md-6">
            <div class="Scroll">
                <div class="row">
                        @if (pager.TotalPage > 0)
                        {
                            <ul>
                                @for (var i = pager.StartPage; i <= pager.EndPage; i++)
                                {
                                    <li class="page-item @(i == pager.CurrentPage ? "active" :"")" >
                                        <a asp-route-page="@(@i)" type=""  >@i</a>
                                    </li>
                                }
                            </ul>
                        }
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

