@using Domain.Models;
@model HomeViewModel

@Html.Partial("~/Views/Header/Header.cshtml")


<div class="container">
    @Html.Partial("~/Views/Category/Category3.cshtml")
    <form method="get">
        <div class="row">
                @Html.Partial("~/Views/Home/Menu.cshtml")
                <div class="col-12  col-md-9">
                    <div class="product">
                        @foreach (var i in ViewBag.Model)
                        {
                            @foreach (var item in Model.Cars.Where(p => p.Id == i.CarId))
                            {
                                <div class="Profile">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-4">
                                            @Html.Raw("<img class='CarFotoAds' src=\"data:image/jpeg;base64," 
                                            + Convert.ToBase64String(Model.Picture.FirstOrDefault(p => p.CarId == item.Id).Image) + "\" />")
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
@*                                                        <p class="Title"><button asp-action="ProductOverview" asp-controller="Home"  class="ProdutBrandBnt"  type="submit" name="carID" value="@item.Id">@item.Brand @item.Model</button>  </p>*@
                                                                <p class='Title'>@item.Brand @item.Model</p>
                                                 </div>
                                                    <div class='DescriptionBLock'>
                                                        <p class='Description'>
                                                            @item.Description
                                                        </p>
                                                    </div>
                                            </div> 
                                            <div class="col-md-2">
                                                <row>
                                                    <input type="submit" class='OrderSettingsDelite'  src="~/img/Profile/Edit.png" name="carDelite"  value="@item.Id">
                                                </row>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        
                    </div>
                </div>
                <div class="col-md-6 offset-md-6">
                    <div class="Scroll">
                        <div class="row">
                        @if (Model.Pager.TotalPage > 0)
                        {
                            @for (var i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
                            {
                                <div class="col-md-1" >
                                        <input name="page" type="submit" value="@i"/>
                                </div>
                            }
                        }
                        </div>
                    </div>
                </div>
         </div>
     </form>
</div>
@Html.Partial("~/Views/Footer/Footer.cshtml")