@using Domain.Models;
@model HomeViewModel
@Html.Partial("~/Views/Header/Header.cshtml")


<div class="container">
    @Html.Partial("Category")
    <form method="get">
        <div class="row">
                @Html.Partial("~/Views/Home/Menu.cshtml")
                <div class="col-12  col-md-9">
                    <div class="product">
                        @foreach (var item in Model.Cars)
                        {
                            <div class="Profile">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img class="CarFoto" src="~/img/Product/LogoNight.png" alt=""/>
                                        </div>
                                        <div class="col-md-8">
                                            <p class='Title'>@item.Brand @item.Model</p>
                                            <div class='DescriptionBLock'>
                                                <p class='Description'>
                                                    @item.Description
                                                </p>
                                            </div>

                                        </div> 
                                        <div class="col-md-2">
                                            <row>
                                                    <input type="submit" class='OrderSettingsDelite'  src="~/img/Profile/Edit.png" name="carDelite"  value="@item.Id">
                                                    <input type="submit" class='OrderSettingsEdit'  src="~/img/Profile/Delete.png" name="carEdit" placeholder="" value="@item.Id">                                                
                                            </row>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-6 offset-md-6">
                    <div class="Scroll">
                        <div class="row">
                        @if (Model.Pager.TotalPage > 0)
                        {
                            @for (var i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
                            {
                                <div class="col-md-1" >
                                        <input name="page" type="submit" value="@i"/>
                                </div>
                            }
                        }
                        </div>
                    </div>
                </div>
         </div>
     </form>
</div>